body{margin:0;font-family:Segoe UI;background:#f2f4f8}

.sidebar{
width:220px;height:100vh;
background:#0b3c78;
position:fixed;color:white;
padding-top:20px;
}

.sidebar h2{text-align:center}
.sidebar a{
display:block;color:white;
padding:12px;text-decoration:none
}
.sidebar a:hover{background:#1f5aa6}

.main{margin-left:220px;padding:20px}

.topbar{
background:white;padding:15px;
display:flex;justify-content:space-between;
margin-bottom:20px;border-radius:6px;
}

table{
width:100%;background:white;
border-collapse:collapse
}
th,td{
padding:10px;border-bottom:1px solid #ddd
}
