{% extends "base.html" %}
{% block content %}

<h2>Manage Users</h2>

<form method="post">
<input name="emp" placeholder="Employee ID" required>
<input name="name" placeholder="Name" required>

<select name="role" required>
<option value="support">Support</option>
<option value="inbound">Inbound</option>
<option value="outbound">Outbound</option>
<option value="admin">Admin</option>
</select>

<button>Add User</button>
</form>

<hr>

<table border="1" width="100%">
<tr>
<th>ID</th>
<th>Name</th>
<th>Role</th>
<th>Change Role</th>
<th>Password</th>
</tr>

{% for u in users %}
<tr>
<td>{{u.emp_id}}</td>
<td>{{u.name}}</td>
<td>{{u.role}}</td>

<td>
<form action="/update_role" method="post">
<input type="hidden" name="emp" value="{{u.emp_id}}">
<select name="role">
<option value="support">Support</option>
<option value="inbound">Inbound</option>
<option value="outbound">Outbound</option>
<option value="admin">Admin</option>
</select>
<button>Update</button>
</form>
</td>

<td>
<a href="/reset_password/{{u.emp_id}}">Reset to 1962</a>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
